.pxt{
    width: 400px !important;
    margin: auto !important;
    background-color: #0152a8 !important;
    color: white !important;
}
.pxr:hover{
    background-color: #067cfa !important;
}
.right{
    margin-left:180px !important ;
}
.mrTake{
    margin-top: 130px !important;
}
.imgaboutHW{
    height: 550px !important;
    width: 500px !important;
    margin:0 auto !important;
}
@media (max-width:991px) {
    .imgaboutHW{
        height: 400px !important;
    }
}