#applyHover:hover{
background-color: #067cfa !important;
}

#oneLine{
    display: inline-block !important;
}
.start{
    font-size: xx-large !important;
    color: red !important;

}
#error,#error1,#error2,#error3,#error4{
    color: red;
    font-weight: 400;
    font-size: smaller;
    display: none;
}