.messageBox{
    color:gray !important;
}
.submitBut{
    color: white !important;
    background-color: #0152a8 !important;
    cursor: pointer !important;
    font-weight: 500 !important;
    padding:5px 25px !important;
}
.submitBut:hover{
background-color: #067cfa !important;
}