*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logohw{
    height: 80px;
    width: 80px;
}
.logos{
    /* border-color:#F3F3F3 !important; */
    color:#F3F3F3 !important;

}.visible{
background-color: black !important;
}

.colwhite ul li a{
    color:black;
    font-weight: 300 !important;
    font-size: larger;
    padding: 10px 0px;
    margin: 0 5px;
}
.drop #lis .takeDo{
     color:black;
    font-weight: 300 !important;
    font-size: larger;
   margin:0;
   padding: 10 20px !important;
  
    
}
.drop{
    padding: 0 5px !important;
   
}

.fix{
    color:#F3F3F3 !important;
    background-color:  #0152a8 !important;
    font-weight: bold !important;
  
}
.fix:active,.fix:hover{
background-color:#067cfa !important;
width: 100% !important;
}
   
.colwhite ul li a:hover:not(.fix){
    color:#F3F3F3;
    background-color:  #067cfa ;
   /* border-bottom: 3px solid #000000; */
}
.btnStyle{
    background-color: #0152a8 !important;
    color: #F3F3F3 !important;
    font-size: larger !important;
    width: 250px !important;
    height: 60px !important;
    cursor: pointer !important;
    font-weight: bolder;
}
.btnStyle:hover{
    background-color:  #067cfa !important ;
}
#design{
    background-color:#e6faff;
    font-weight: 700;
    color: #0152a8;
    padding: 0px 15px !important;
    font-size: 3.2rem !important;
}
.linkDe a{
    text-decoration: none ;
    font-size: medium;
}
.cardHW{
    height: 400px !important;
    border: none !important;
    outline: none !important;
  border-radius: 10px !important;
}
.a2de a ,.ndlink a{
    text-decoration: none;
    font-size: medium;
    font-weight: 900;
   
}

.a2de{
    text-align: start;
}
.link3 a{
text-decoration: none;
font-weight: 900;
display: inline !important;
color: black;
}
.bradius{
    border-radius:15px !important;
    transition: width 1s, height 2s;
    height: 250px !important;
    width:350px !important;
    margin:0px auto !important;
     /* width: 400px !important; */
    /* height: 297px !important;  */
    
}



.hoverEffect:hover .link3 .short a{
display: inline !important;
 color:#0152a8;
 border-bottom: 3px solid #0152a8;
}

.hoverEffect:hover .row .bradius{
   /* height: 310px !important; */
   width: 420px !important;
    }

@media(max-width:575px) {
    #design{
        background-color:lightblue;
        color: #0152a8;
        padding: 0px 15px !important;
        font-size: 2rem !important;
    }
}
.backColo{
    background-color:#3d556d;
    height:700px;
    width:100%;
}
.btnStyles{
    background-color: #0152a8 !important;
    color: #F3F3F3 !important;
    font-size: larger !important;
    width: 350px !important;
    height: 65px !important;
    margin-left:-23px !important;
    border-radius: 0px !important;
    cursor: pointer;
}
.btnStyles-a{
    background-color: #0152a8 !important;
    color: #F3F3F3 !important;
    font-size: larger !important;
    width: 200px !important;
    height: 60px !important;
    margin-left:-23px !important;
    border-radius: 0px !important;
    cursor: pointer;
}
.yolk{
    width: 350px !important;
    height: 65px !important;
}
.inputDesign{
    height: 60px !important;
    font-size: large !important;
    font-weight: 400 !important;
    border-radius: 0px !important;
   
}
.btnStyles:hover{
    background-color: #067cfa !important;
}
.navlast ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navlast li{
float: left;
margin-left: 70px;
}
.navlast ul li a{
    text-decoration: none !important;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: larger;
}
/* .y{
   background-color: purple;
} */

.iA{
   height: 43px;
    overflow: hidden;
    display: inline-block;
   
}
#moves{
    height:100% ;
    animation:mymove 2s ease-in-out infinite alternate;
    display: block;
}
.skill{
    height:43px ;
    font-size: xx-large ;
    font-weight: bold ;
    width: 300px;
    color: #0152a8;
    
    }
    .test{
        background-color:#e6faff;
       font-weight: 800;
    margin-top: 5px;
    }
@keyframes mymove {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px) ;
    }
    75%{
        transform: translateY(-150px) ;
    }
    100%{
        transform: translateY(-200px) ;
    }
}

@media (max-width:768px) {
    .cardHW{
        height: 450px !important;
       
    }
}

@media (max-width:991px) {
    .cardHW{
       margin-top: 25px;
       
    }
    .at991mt{
        margin-top: 30px !important;
    }
}
@media (max-width:767px) {
    .at767cen{
        text-align: center !important;
    }
    .at767mt{
        margin-top: 20px !important;
    }
    .a2de{
        text-align: center !important;
    }
}
@media (max-width:525px) {
    #at525cendo{
        text-align: center !important;
        margin-top: 5px !important;
    }
}
#sides{
    display: flex;
}
.short{
    display: inline-block !important;

}
.lifeHW{
    height:610px !important;
    width:500px !important;
}
.sirHW{
    height:300px !important;
    border-radius: 20px !important;
}
.dones{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
} 

#wait{
    display: none;
}
@media (max-width:767px) {
    #wait{
        display:block !important;
    }
    #waitEnd{
        display: none !important;
    }
}
@media (max-width:991px) {
    .lifeHW{
        height:400px !important;
        width:500px !important;
        margin: 0 auto !important;
    }
    .at991mt{
        align-items: center !important;
    }
}

    .c{
        display: inline-block !important;
    }

    
.effected{
    color: #0152a8 !important;
    background-color:#e6faff !important;
}