.center{
   margin-top: 150px;
   display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.go{
    width: 300px;
    color: white !important;
    background-color: #0152a8 !important;
    cursor: pointer !important;
    font-weight: 500 !important;
    padding:10px 25px !important;
}
.go:hover{
    background-color: #067cfa !important;
}
.setHW{
    height: 100px !important;
    width: 120px !important;
    margin: 0 auto !important;
}